################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Aplicatie_Scanner/FileContentIndex/1e2aacdd-4e6b-42c8-861f-79722ef1626c.vsidx
/.vs/Aplicatie_Scanner/FileContentIndex/5f7a7e08-bbd4-4e43-b2b0-bba4b573391d.vsidx
/.vs/Aplicatie_Scanner/FileContentIndex/68b9cf77-3309-4087-9e55-4ed849e53ffe.vsidx
/.vs/Aplicatie_Scanner/FileContentIndex/96aa5ddc-f7af-4eab-94b3-20fc0713b61b.vsidx
/.vs/Aplicatie_Scanner/FileContentIndex/fd1fa3da-4396-4f9f-ab11-5a23b75ece08.vsidx
/.vs/Aplicatie_Scanner/FileContentIndex/1e2aacdd-4e6b-42c8-861f-79722ef1626c.vsidx
/.vs/Aplicatie_Scanner/FileContentIndex/68b9cf77-3309-4087-9e55-4ed849e53ffe.vsidx
/.vs/Aplicatie_Scanner/FileContentIndex/e8d04c3a-cc2b-4d76-9385-45d8d7e4a83f.vsidx
/.vs/Aplicatie_Scanner/FileContentIndex/f427da66-45b1-41c8-b71b-35e343aa4e64.vsidx
/.vs/Aplicatie_Scanner/FileContentIndex/7f8c4766-b978-473b-85b2-172c30f86819.vsidx
/.vs/Aplicatie_Scanner/FileContentIndex/92f6ea1d-713b-4798-a700-fd25e3733875.vsidx
/.vs/Aplicatie_Scanner/FileContentIndex/ce26c935-a294-4908-92db-aa8bb61b9673.vsidx
/.vs/Aplicatie_Scanner/FileContentIndex/ee011cd6-96e4-4e40-a45c-0be7561b9192.vsidx
/.vs/Aplicatie_Scanner/FileContentIndex/2cfc14d1-ce8b-4c7f-9766-61513887eb66.vsidx
/.vs/Aplicatie_Scanner/FileContentIndex/4f0cbc3b-f489-45e8-bfb6-9ce630798bef.vsidx
/.vs/Aplicatie_Scanner/FileContentIndex/6358453a-60b5-4a01-bbb0-e4fdc902483d.vsidx
/.vs/Aplicatie_Scanner/FileContentIndex/b6d6122b-db63-4786-ac70-9da664c05eb0.vsidx
/.vs/Aplicatie_Scanner/FileContentIndex/dd30a3cf-aa95-45ba-b8e8-c355bd9edb8f.vsidx
/.vs/Aplicatie_Scanner/FileContentIndex/2d84f1a6-a74a-48c8-a272-1bfae619034e.vsidx
/.vs/Aplicatie_Scanner/FileContentIndex/a8b35edd-87c7-42b0-8cfc-3dd47419f3e5.vsidx
/.vs/ProjectEvaluation/aplicatie_scanner.metadata.v7.bin
/.vs/ProjectEvaluation/aplicatie_scanner.projects.v7.bin
/.vs/Aplicatie_Scanner/DesignTimeBuild/.dtbcache.v2
/.vs/Aplicatie_Scanner/v17/.futdcache.v2
/.vs/Aplicatie_Scanner/v17/.suo
/Aplicatie_Scanner/bin/Debug/net6.0-windows/Aplicatie_Scanner.dll
/Aplicatie_Scanner/bin/Debug/net6.0-windows/Aplicatie_Scanner.exe
/Aplicatie_Scanner/bin/Debug/net6.0-windows/Aplicatie_Scanner.pdb
/Aplicatie_Scanner/obj/Aplicatie_Scanner.csproj.nuget.dgspec.json
/Aplicatie_Scanner/obj/Aplicatie_Scanner.csproj.nuget.g.props
/Aplicatie_Scanner/obj/Debug/net6.0-windows/Aplicatie_Scanner.AssemblyInfo.cs
/Aplicatie_Scanner/obj/Debug/net6.0-windows/Aplicatie_Scanner.AssemblyInfoInputs.cache
/Aplicatie_Scanner/obj/Debug/net6.0-windows/Aplicatie_Scanner.assets.cache
/Aplicatie_Scanner/obj/Debug/net6.0-windows/Aplicatie_Scanner.csproj.AssemblyReference.cache
/Aplicatie_Scanner/obj/Debug/net6.0-windows/Aplicatie_Scanner.csproj.CoreCompileInputs.cache
/Aplicatie_Scanner/obj/Debug/net6.0-windows/Aplicatie_Scanner.csproj.FileListAbsolute.txt
/Aplicatie_Scanner/obj/Debug/net6.0-windows/Aplicatie_Scanner.designer.runtimeconfig.json
/Aplicatie_Scanner/obj/Debug/net6.0-windows/Aplicatie_Scanner.dll
/Aplicatie_Scanner/obj/Debug/net6.0-windows/Aplicatie_Scanner.genruntimeconfig.cache
/Aplicatie_Scanner/obj/Debug/net6.0-windows/Aplicatie_Scanner.pdb
/Aplicatie_Scanner/obj/Debug/net6.0-windows/Aplicatie_Scanner.sourcelink.json
/Aplicatie_Scanner/obj/Debug/net6.0-windows/apphost.exe
/Aplicatie_Scanner/obj/Debug/net6.0-windows/refint/Aplicatie_Scanner.dll
/Aplicatie_Scanner/obj/project.assets.json
/Aplicatie_Scanner/obj/project.nuget.cache
/Aplicatie_Scanner/obj/Debug/net6.0-windows/ref/Aplicatie_Scanner.dll

*.csproj.user
*.suo
*.user
*.userosscache
*.sln.docstates
*.sln.ide.als
bin/
obj/
.vscode/
/.vs/Aplicatie_Scanner/FileContentIndex/634ac687-f04a-4cbb-9868-4dedc90e7a37.vsidx
/.vs/Aplicatie_Scanner/FileContentIndex/ab670755-d8ed-4183-ab6c-4cb7630f9706.vsidx
/.vs/Aplicatie_Scanner/FileContentIndex/23baa4e4-ceaf-43a8-9ed5-917e34fe0e59.vsidx
/.vs/Aplicatie_Scanner/FileContentIndex/589fe868-5278-414c-b700-74ab74fe199f.vsidx
/.vs/Aplicatie_Scanner/FileContentIndex/2e5a33ef-074a-40b1-b8ca-10f49ae2a8d7.vsidx
/.vs/Aplicatie_Scanner/FileContentIndex/40088f49-2efa-4ba4-9eb4-c776a2396016.vsidx
