################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Aplicatie_Scanner/FileContentIndex/1e2aacdd-4e6b-42c8-861f-79722ef1626c.vsidx
/.vs/Aplicatie_Scanner/FileContentIndex/5f7a7e08-bbd4-4e43-b2b0-bba4b573391d.vsidx
/.vs/Aplicatie_Scanner/FileContentIndex/68b9cf77-3309-4087-9e55-4ed849e53ffe.vsidx
/.vs/Aplicatie_Scanner/FileContentIndex/96aa5ddc-f7af-4eab-94b3-20fc0713b61b.vsidx
/.vs/Aplicatie_Scanner/FileContentIndex/fd1fa3da-4396-4f9f-ab11-5a23b75ece08.vsidx
/.vs/Aplicatie_Scanner/FileContentIndex/1e2aacdd-4e6b-42c8-861f-79722ef1626c.vsidx
/.vs/Aplicatie_Scanner/FileContentIndex/68b9cf77-3309-4087-9e55-4ed849e53ffe.vsidx
